@font-face {
    font-family: RETRO;
    src: url(../font/upheavtt.ttf);
}
body {
    /* overflow-y: hidden; */
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: RETRO;
    background: linear-gradient(45deg, rgb(26,35,49) 0%, rgb(160,154,164) 14%, rgb(255,255,255) 100%);
    background-repeat: no-repeat;
}
.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    height: 200px;
}
#contenedorsecciones{
    display: flex;
    
}
.seccion{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex: 1;
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.5s ease;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0.950);
}
.boton{
    display: block;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    float: left;
    position:sticky;
}
#skills.abierto,
#proyectos.abierto {
    max-width: 70%;
}
#proyectos{
    margin-left: auto;
}
#proyectos.abierto{
    margin-left: auto;
    border-left: 1px solid black;
}
#skills.abierto{
    border-right: 1px solid black;
}
#skills.abierto
.botoncerrar{
    background-image: url(../img/cruzpixel.png);
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    border: 0;
    position: relative;
    cursor: pointer;
}
#proyectos.abierto .botoncerrar{
    background-image: url(../img/cruzpixel.png);
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    border: 0;
    position: relative;
    cursor: pointer;
}
.boton:hover{
    scale: 1.05;
}
#botoncerrarizquierda{
    order: 2;
    margin-right: 1vw;
    margin-top: 1.5vh;
    padding: 0;
}
#botoncerrarderecha{
    margin-left: 1vw;
    margin-top: 1.5vh;
    padding: 0;
}
#skillstxt{
    margin: auto;
    margin-top: 5vh;
}
#botonderecha{
    background-image: url(../img/flecha.png);
    background-size: cover;
    background-color: transparent;
    background-position: center;
    width: 250px;
    height: 150px;
    margin-left: auto;
    font-family: RETRO;
    color: black;
    font-size: 20px;
}
#botonizquierda{
    background-image: url(../img/flechaizquierda.png);
    background-size: cover;
    background-color: transparent;
    background-position: center;
    width: 250px;
    height: 150px;
    font-family: RETRO;
    color: black;
    font-size: 20px;
}

#navegador ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#navegador ul li{
    margin: 0 15px;
}

#navegador ul li a{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    transition: color 0.3s;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
#navegador ul li a:hover {
    color: blue;
}
#fondito{
    background-image: url(../img/fondobonito.png);
    width: 40%;
    height: 100%;
    position: absolute;
    top:0;
    right:0;
    background-size: cover;
    background-position:right;
    background-repeat: no-repeat;
    z-index: -2;
}
#personajito{
    position: absolute;
    right: 21%;
    top: 31.5%;
}
#nombre{
    margin-left: 25px;
    width: 50px;
    display: flex;
    margin-right: 25px;
}
#logo {
    width: 5em;
    text-shadow: 2px 2px 2px rgba(206,89,55,0);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.5);
    border: 5px dashed rgba(0,0,0,0.7);
    margin-right: 7.5%;
    margin-left: 7.5%;
    margin-top: 1%;
    font-size: 18px;
}
#nombre p{
    margin-right: 25px;
    text-shadow: 0px 2px 2px rgba(255,255,255,0.5);
}
#primertexto{
    width: 35em;
    margin-left: 17.5%;
    margin-top: 5%;
    font-size: 20px;
    border: 9px dashed rgba(0,0,0,0.7);
    padding: 1%;
}
#sobremi{
    width: 35em;
    margin-left: 27%;
    font-size: 20px;
    border: 9px dashed rgba(0,0,0,0.7);
    padding: 1%;
}
#headerskills{
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
}
#contenidoskills{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    box-sizing: border-box;
}
.containerskill{
    width: 90%;
    background-color: #ddd;
    margin: 0 4%;
}
.skill{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
}
.skillshtml{
    width: 75%;
    background-color: darkorange;
}
.skillscss{
    width: 65%;
    background-color: darkorange;
}
.skillsjava{
    width: 55%;
    background-color: darkorange;
}
.skillspython{
    width: 25%;
    background-color: darkorange;
}
#headerproyectos{
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-items: center;
}
#headerproyectos h2{
    order: 2;
    margin: auto;
}
#containerproyectos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    margin: 0 2%;
}
.proyectos{
    position: relative;
    width: 30vw;
    height: 30vh;
    border-radius: 5px;
    overflow: hidden;
}
.proyectos img{
    position: absolute;
    top: 0;
    left: 0;
    height: 90%;
    width: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
}
.proyectos a{
    position: absolute;
    bottom: 0;
    left: 40%;
}
.proyectos:hover .contenidoimagen{
    transform: translateY(0%);
}
.contenidoimagen{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: rgba(221, 221, 221, 0.63);
    transform: translateY(100%);
    transition: 0.4s ease;
}
#containercontactame{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
}
#containercontactame h2{
    margin: auto;
}
form {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 1px dashed #000000;
    border-radius: 8px;
    box-sizing: border-box;
}
#nombreformulario{
    /* margin: auto; */
    width: 80%;
    margin-left: 7.5%;
}
#asuntoformulario{
    /* margin: auto; */
    width: 80%;
    margin-left: 7.5%;
}
#mensajeformulario{
    width: 80%;
    margin-left: 7.5%;
}
label,
input,
textarea {
    display: block;
    margin-bottom: 10px;
}
input,
textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
} */
/* CSS */
.buttonformulario {
    align-items: center;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: Retro;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    transition: box-shadow .15s,transform .15s;
    font-size: 18px;
}

.buttonformulario:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.buttonformulario:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}