@font-face {
    font-family: RETRO;
    src: url(../font/upheavtt.ttf);
}
body {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    height: 1000px;
    margin: 0;
    padding: 0;
    font-family: RETRO;
    background: linear-gradient(45deg, rgb(26,35,49) 0%, rgb(160,154,164) 14%, rgb(255,255,255) 100%);
    background-repeat: no-repeat;
}
.contenedor{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    height: 200px;
}
#contenedorsecciones{
    display: flex;
    
}
.seccion{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex: 1;
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.5s ease;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0.950);
}
.boton{
    display: block;
    width: 50%;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    float: left;
    position:sticky;
}
#skills.abierto,
#proyectos.abierto {
    max-width: 70%;
}
#proyectos{
    margin-left: auto;
}
#proyectos.abierto{
    margin-left: auto;
    border-left: 1px solid black;
}
#skills.abierto{
    border-right: 1px solid black;
}
#skills.abierto
.botoncerrar{
    background-image: url(../img/cruzpixel.png);
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    border: 0;
    position: relative;
    cursor: pointer;
}
.boton:hover{
    scale: 1.05;
}
#botoncerrarizquierda{
    order: 2;
    margin-left: auto;
    margin-right: 1vw;
    margin-top: 1.5vh;
    padding: 0;
}
#skillstxt{
    margin: auto;
    margin-top: 5vh;
}
#botonderecha{
    background-image: url(../img/flecha.png);
    background-size: cover;
    background-color: transparent;
    background-position: center;
    width: 250px;
    height: 150px;
    margin-left: auto;
    font-family: RETRO;
    color: black;
    font-size: 20px;
}
#botonizquierda{
    background-image: url(../img/flechaizquierda.png);
    background-size: cover;
    background-color: transparent;
    background-position: center;
    width: 250px;
    height: 150px;
    font-family: RETRO;
    color: black;
    font-size: 20px;
}

#navegador ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

#navegador ul li{
    margin: 0 15px;
}

#navegador ul li a{
    text-decoration: none;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    transition: color 0.3s;
    text-shadow: 0px 3px 3px rgba(255,255,255,0.5);
}
#navegador ul li a:hover {
    color: blue;
}

#fondito{
    background-image: url(../img/fondobonito.png);
    width: 40%;
    height: 100%;
    position: absolute;
    top:0;
    right:0;
    background-size: cover;
    background-position:right;
    background-repeat: no-repeat;
    z-index: -2;
}
#personajito{
    position: absolute;
    right: 21%;
    top: 31.5%;
}
#nombre{
    margin-left: 25px;
    width: 50px;
    display: flex;
    margin-right: 25px;
}
#logo {
    width: 5em;
    text-shadow: 2px 2px 2px rgba(206,89,55,0);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(0,0,0,0.5);
    border: 5px dashed rgba(0,0,0,0.7);
    margin-right: 7.5%;
    margin-left: 7.5%;
    margin-top: 1%;
    font-size: 18px;
}
#nombre p{
    margin-right: 25px;
    text-shadow: 0px 2px 2px rgba(255,255,255,0.5);
}
#primertexto{
    width: 35em;
    margin-left: 17.5%;
    margin-top: 5%;
    font-size: 20px;
    border: 9px dashed rgba(0,0,0,0.7);
    padding: 1%;
}
#sobremi{
    width: 35em;
    margin-left: 27%;
    font-size: 20px;
    border: 9px dashed rgba(0,0,0,0.7);
    padding: 1%;
}
#headerskills{
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
}
#contenidoskills{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    margin-top: 2%;
    box-sizing: border-box;
}
.containerskill{
    width: 90%;
    background-color: #ddd;
    margin: 0 4%;
}
.skill{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
}
.skillshtml{
    width: 75%;
    background-color: darkorange;
}
.skillscss{
    width: 65%;
    background-color: darkorange;
}
.skillsjava{
    width: 55%;
    background-color: darkorange;
}
.skillspython{
    width: 25%;
    background-color: darkorange;
}